@charset "utf-8";

@forward "bulma/sass/base";

@forward "bulma/sass/utilities";
@forward "bulma/sass/form";
@forward "bulma/sass/themes";
@forward "bulma/sass/grid";
@forward "bulma/sass/helpers";

@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/title";

@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/section";
@forward "bulma/sass/layout/footer";


#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

._loading_overlay_overlay {
  position: fixed !important;
}

._loading_overlay_wrapper {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

.enr-output {
  width: 279px;
  word-wrap: anywhere;
}